%default-transition {
    transition: all 0.15s ease-in;
}

%list-style-none {
    list-style: none;
}

%img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

%clearfix {
    &:after {
        display: block;
        clear: both;
        content: '';
    }
}

%grayscale {
    filter: url('data:image/svg+xml;utf8,<svg%20xmlns=\'http://www.w3.org/2000/svg\'><filter%…200.3333%200.3333%200%200%200%200%200%201%200\'/></filter></svg>#grayscale');
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

%translate-xy {
    transform: translate(-50%, -50%);
}

%default-btn {
    display: inline-block;
    min-width: 132px;
    font-size: 15px;
    line-height: 32px;
    padding: 0px 17.1px;
    border-radius: 3px;
    background-color: color('primary');

    @extend %default-transition;
    &:hover,
    &:focus {
        background-color: color('primaryHover');
    }
    &.disabled {
        cursor: default;
        color: color('disabledColor');
        background-color: color('disabledBg');
        &:hover,
        &:focus {
            color: color('disabledColor');
            background-color: color('disabledBg');
        }
    }
}

%default-iframe-popup {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9999;
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    transition: opacity 0.3s ease-out 0s, top 0.3s ease-out 0s;
    opacity: 1;
    border: medium none;
}

%default-iframe-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99999;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0% 0%;
}
