/*base*/

@import 'assets/settings';
@import 'assets/base-assets/header';
html {
    height: 100%;
}

a {
    @extend %default-transition;
}

body {
    font-family: 'Arial-MT, sans-serif';
}

.myContainer {
    position: relative;
    max-width: gridValue('container');
    margin: 0 auto;

    @extend %clearfix;
}

.primary-btn {
    padding: 0px 17.1px;
    border-radius: 3px;

    @extend %default-btn;
}

.popup {
    display: none;

    @extend %default-iframe-overlay;
    &__overlay {
        display: block;
    }
    &__wrapper {
        position: relative;
    }
    &__container {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        display: block;
        overflow: hidden;
        width: 848px;
        height: 646px;
        padding: 0;
        background: #fff;

        @extend %translate-xy;
    }
    &__iframe {
        @extend %default-iframe-popup;
    }
}


/*END:base*/
