/*base*/

@import 'assets/settings';
@import 'assets/base-assets/header';
html {
    height: 100%;
}

a {
    @extend %default-transition;
}

body {
    font-family: 'Arial,Helvetica,sans-serif';
}

.myContainer {
    position: relative;
    max-width: gridValue('container');
    margin: 0 auto;

    @extend %clearfix;
}

.primary-btn {
    padding: 0px 17.1px;
    border-radius: 3px;

    @extend %default-btn;
}



/*END:base*/
