/*base*/

@import 'assets/settings';
@import 'assets/base-assets/header';
html {
    height: 100%;
}

a,
button {
    @extend %default-transition;
}

body {
    font-family: 'Arial-MT, sans-serif';
}

.myContainer {
    position: relative;
    max-width: gridValue('container');
    margin: 0 auto;

    @extend %clearfix;
}

.primary-btn {
    @extend %default-btn;
}

.popup {
    display: none;

    @extend %default-iframe-overlay;
    &__overlay {
        display: block;
    }
    &__wrapper {
        position: relative;
    }
    &__container {
        position: relative;
        top: 50%;
        left: 50%;
        z-index: 1;
        display: block;
        overflow: hidden;
        width: 848px;
        height: 646px;
        padding: 0;
        background: #fff;

        @extend %translate-xy;
    }
    &__table {
        display: table;
        width: 100%;
        padding: 18px 32px;
        &--bordered {
            border-bottom: 1px solid #e5e5e5;
        }
        &--bordered-top {
            border-top: 1px solid #e5e5e5;
        }
    }
    &__row {
        display: table-row;
    }
    &__cell {
        display: table-cell;
        &--left {
            text-align: left;
        }
        &--center {
            text-align: center;
        }
        &--right {
            text-align: right;
        }
    }
    &__iframe {
        @extend %default-iframe-popup;
    }
    &__footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        &-price {
            display: inline-block;
            font-size: 24px;
            line-height: 28px;
            margin-right: 35px;
            vertical-align: middle;
            color: #333;
        }
        &-btn {
            display: inline-block;
            vertical-align: middle;
        }
        &-phone {
            display: inline-block;
            vertical-align: top;
            text-decoration: none;
            color: #999;
            &:hover {
                color: #999;
            }
        }
        &-submit-btn {
            @extend %default-btn;
        }
        &-bottom {
            font-size: 13px;
            padding: 9.5px 32px;
            color: #999;
            background-color: color('popupFooterBottom');
        }
    }
    &__phone {
        text-decoration: none;
    }
    &__close-btn {
        display: inline-block;
        vertical-align: middle;
        opacity: 0.4;
        border: none;
        background: none;
        &:hover {
            opacity: 1;
        }
    }
}


/*END:base*/
