@import 'assets/settings';

// mobile-base
.primary-btn {
    display: block;
    width: 100%;
    text-align: center;
}

.popup {
    &-main {
        &__header {
            &-back {
                width: 10%;
            }
            &-back-btn {
                display: inline-block;
                cursor: pointer;
                vertical-align: middle;
                background: none;
            }
            &-titlewrap {
                width: 80%;
            }
            &-title {
                font-weight: normal;
                margin-bottom: 0;
            }
        }
    }
}
// END:mobile-base
