// mobile-base
.primary-btn {
    display: block;
    width: 100%;
    text-align: center;
}

.popup {
    &-main {
        &__header {
            &-title {
                font-weight: normal;
                margin-bottom: 0;
            }
        }
    }
}
// END:mobile-base
