@import 'assets/settings';

/*popup-payment*/

body {
    font-family: sans-serif;
}

.popup-payment {
    &__form {
        height: 100%;
    }
    &__title {
        font-size: 27px;
        font-weight: 700;
        line-height: 34px;
        margin-bottom: 0;
        color: #000;
    }
    &__subtitle {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 8px;
        color: #666;
        &-text {
            display: inline-block;
            vertical-align: middle;
        }
        &-price {
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.payment-card {
    padding: 30px 0;
    &__inner {
        position: relative;
        width: gridValue('cardWidth');
        height: 238px;
        margin: 0 auto;
        &--mobile {
            width: auto;
            height: auto;
        }
    }
    &__side {
        position: relative;
        float: left;
        height: gridValue('cardHeight');
        border-radius: 6px;
    }
    &__front {
        z-index: 1;
        width: 388px;
        margin-right: -50px;
        padding: 25px 32px;
        background: #f1f0ec;
    }
    &__back {
        float: right;
        width: 150px;
        padding: 25px 0;
        background: #dbdad4;
    }
    &__element {
        margin-bottom: 17px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__number {
        &-title {
            display: block;
            font-size: 15px;
            font-weight: normal;
            line-height: 27px;
            margin: 0 0 5px;
            padding: 0;
            color: #000;
        }
        &-fields {
            margin-right: 14px;
            text-align: right;
            vertical-align: middle;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    &__field-wrapper {
        display: inline-block;
        width: 68px;
        height: 36px;
        margin-right: 8px;
        vertical-align: middle;
        &:last-child {
            margin-right: 0;
        }
    }
    &__field {
        width: 100%;
        height: 100%;
        font-size: 18px;

        @extend %default-input;
    }
    &__expires {
        @extend %clearfix;
        &-inner {
            float: right;
        }
        &-label {
            display: inline-block;
            font-size: 11px;
            line-height: 18px;
            margin-right: 5px;
            vertical-align: middle;
            text-transform: uppercase;
            color: #333;
        }
        &-date {
            display: inline-block;
            vertical-align: middle;
            &-field {
                display: inline-block;
                width: 49px;
                height: 36px;
                font-size: 18px;
                vertical-align: middle;

                @extend %default-input;
            }
        }
        &-separator {
            display: inline-block;
            font-size: 18px;
            line-height: 36px;
            vertical-align: middle;
            color: #92918f;
        }
    }
    &__owner {
        position: relative;
        &-field {
            display: block;
            width: 100%;
            height: 36px;
            font-size: 18px;

            @extend %default-input;
        }
        &-tooltip {
            position: absolute;
            top: -40px;
            left: 0;
            z-index: 2;
            display: none;
            font-size: 13px;
            line-height: 18px;
            margin: 0;
            padding: 7px 14px;
            white-space: nowrap;
            color: #fff;
            background: color('warning');
            &:after {
                position: absolute;
                top: 100%;
                left: 16px;
                display: block;
                overflow: hidden;
                width: 0;
                height: 0;
                content: '';
                border: 5px solid transparent;
                border-width: 5px 5px 0;
                border-top-color: color('warning');
            }
        }
    }
    &__back-wrap {
        position: relative;
        padding-left: 50px;
    }
    &__magnet-line {
        height: 48px;
        margin-bottom: 24px;
        padding-top: 28px;
        background: #1f1f1f;
    }
    &__cvv {
        &-label {
            font-size: 11px;
            font-weight: 400;
            line-height: 21px;
            margin-bottom: 3px;
            text-transform: uppercase;
            color: #333;
        }
        &-text {
            display: inline-block;
            vertical-align: middle;
        }
        &-field {
            width: 77px;
            height: 36px;
            font-size: 18px;
            line-height: 36px;
            margin-bottom: 6px;

            @extend %default-input;
        }
        &-note {
            font-size: 11px;
            line-height: 15px;
            color: #777;
        }
    }
}

.pay-timer {
    @extend %clearfix;
    &__time {
        display: block;
        float: left;
        width: 70px;
        font-size: 27px;
        margin-right: 5px;
        color: #333;
    }
    &__text {
        font-size: 11px;
        line-height: 13px;
        color: #333;
    }
}

.card-logos {
    @extend %clearfix;
    &__inner {
        float: right;
    }
    &__logo {
        display: inline-block;
        height: 29px;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        &--mastercard {
            width: 46px;
            height: 25px;
            margin-right: 12px;
            background-image: url('../img/base/card-logos/mastercard.svg');
        }
        &--visa {
            width: 76px;
            background-image: url('../img/base/card-logos/visa.svg');
        }
    }
}

.payment-add-fields {
    font-size: 15px;
    line-height: 27px;
    color: #777;
    &__inner {
        height: auto;

        @extend .payment-card__inner;
    }
    &__element {
        margin-bottom: 17px;
    }
    &__field {
        font-size: 15px;
    }
}
/*END:popup-payment*/
