@import 'assets/settings';

/*popup-start*/

body {
    font-family: sans-serif;
}

.popup-start {
    &__date {
        font-size: 18px;
        font-weight: normal;
        line-height: 29px;
        margin-bottom: 0;
        color: #666;
    }
    &__title {
        font-size: 27px;
        font-weight: bold;
        line-height: 34px;
        margin-bottom: 0;
        white-space: nowrap;
        color: #333;
    }
    &__address {
        display: inline-block;
        overflow: hidden;
        max-width: 200px;
        font-size: 13px;
        line-height: 23px;
        margin-right: 12px;
        transition: all 0.55s ease;
        vertical-align: middle;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #8f8f8f;
        &:hover {
            max-width: 400px;
        }
    }
}

.popup-tickets {
    overflow: auto;
    height: gridValue('popupTicketsDynamicHeight');
    &__item {
        padding: 34px 32px;
    }
    &__title {
        font-size: 18px;
        font-weight: normal;
        line-height: 27px;
        margin: 0;
        padding: 0;
        color: #000;
    }
    &__subtitle {
        font-size: 13px;
        font-weight: normal;
        line-height: 19px;
        margin: 0;
        padding: 3px 0 4px;
        color: #888;
    }
    &__main {
        width: 45%;
    }
    &__price {
        width: 20%;
        font-family: sans-serif;
        font-size: 18px;
        padding-left: 20px;
        white-space: nowrap;
        word-spacing: -2px;
    }
    &__count {
        width: 15%;
        font-size: 13px;
        line-height: 19px;
        padding-left: 30px;
        color: #888;
    }
    &__offer {
        width: 20%;
        padding-left: 35px;
        .default-input-number {
            display: inline-block;
            font-size: 18px;
            font-weight: normal;
            line-height: 31px;
            padding: 0;
            text-align: center;
            vertical-align: middle;
            border: none;
            outline: none;
        }
        .jq-number {
            padding: 0 38px;
            &.focused {
                .jq-number__field {
                    border: none;
                }
            }
        }
        .jq-number__spin {
            left: 0;
            height: 32px;
        }
        .jq-number__spin.plus {
            left: auto;
            right: 0;
        }
        .jq-number__field {
            width: 45px;
            height: 31px;
            border: none;
            box-shadow: none;
        }
        .jq-number__spin {
            width: 38px;
            height: 31px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 3px;
            background: none;
            background-color: #fff;
            box-shadow: none;
            text-shadow: none;

            @extend %default-transition;
            &:before {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 12px;
                height: 2px;
                margin-top: -1px;
                margin-left: -6px;
                content: '';
                border: none;
                background-color: #666;

                @extend %default-transition;
            }
            &.minus {
                &:after {
                    opacity: 0;
                }
            }
            &.plus {
                &:after {
                    top: 50%;
                    left: 50%;
                    width: 2px;
                    height: 12px;
                    margin-top: -6px;
                    margin-left: -1px;
                    border: none;
                    background: #666;

                    @extend %default-transition;
                }
            }
            &.disabled {
                cursor: default;
                &:before,
                &:after {
                    background-color: #d6d6d6;
                }
            }
        }
    }
}


/*END:popup-start*/
