/*base*/


/*animations*/


/*spinner*/

@-moz-keyframes spinner {
    from {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinner {
    from {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    from {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    from {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*END:spinner*/


/*END:animations*/

.primary-btn,
.popup__footer-submit-btn,
.confirm-block__btn,
a,
button {
    -webkit-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    transition: all .15s ease-in;
}

.myContainer:after {
    display: block;
    clear: both;
    content: '';
}

.spinner__main,
.spinner__inner,
.spinner__inner:after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
}

.popup__container,
.confirm-popup__inner,
.loader {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.primary-btn,
.popup__footer-submit-btn,
.confirm-block__btn {
    font-size: 15px;
    line-height: 32px;
    display: inline-block;
    min-width: 132px;
    padding: 0 17.1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffdb4d;
}

.primary-btn:hover,
.popup__footer-submit-btn:hover,
.confirm-block__btn:hover,
.primary-btn:focus,
.popup__footer-submit-btn:focus,
.confirm-block__btn:focus {
    background-color: #ffd633;
}

.disabled.primary-btn,
.disabled.popup__footer-submit-btn,
.disabled.confirm-block__btn {
    cursor: default;
    color: #8f8f8f;
    background-color: #ececec;
}

.disabled.primary-btn:hover,
.disabled.popup__footer-submit-btn:hover,
.disabled.confirm-block__btn:hover,
.disabled.primary-btn:focus,
.disabled.popup__footer-submit-btn:focus,
.disabled.confirm-block__btn:focus {
    color: #8f8f8f;
    background-color: #ececec;
}

.popup__iframe {
    position: absolute;
    z-index: 9999;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    margin-top: 0;
    -webkit-transition: opacity .3s ease-out 0s, top .3s ease-out 0s;
    -moz-transition: opacity .3s ease-out 0s, top .3s ease-out 0s;
    -o-transition: opacity .3s ease-out 0s, top .3s ease-out 0s;
    transition: opacity .3s ease-out 0s, top .3s ease-out 0s;
    opacity: 1;
    border: medium none;
}

.popup {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7) none repeat scroll 0 0;
}


/*header*/


/*END:header*/

html {
    height: 100%;
}

body {
    font-family: 'Arial-MT, sans-serif';
}

.myContainer {
    position: relative;
    max-width: 1170px;
    margin: 0 auto;
}

.rouble {
    font-family: 'rouble';
}

.popup {
    display: none;
}

.popup__overlay {
    display: block;
}

.popup__wrapper {
    position: relative;
}

.popup__container {
    position: relative;
    z-index: 1;
    top: 50%;
    left: 50%;
    display: block;
    overflow: hidden;
    width: 848px;
    height: 646px;
    padding: 0;
    background: #fff;
}

.popup__table {
    display: table;
    width: 100%;
    padding: 18px 32px;
}

.popup__table--bordered {
    border-bottom: 1px solid #e5e5e5;
}

.popup__table--bordered-top {
    border-top: 1px solid #e5e5e5;
}

.popup__row {
    display: table-row;
}

.popup__cell {
    display: table-cell;
}

.popup__cell--left {
    text-align: left;
}

.popup__cell--center {
    text-align: center;
}

.popup__cell--right {
    text-align: right;
}

.popup__footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.popup__footer-price {
    font-size: 24px;
    line-height: 28px;
    display: inline-block;
    margin-right: 35px;
    vertical-align: middle;
    color: #333;
}

.popup__footer-btn {
    display: inline-block;
    vertical-align: middle;
}

.popup__footer-phone {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #999;
}

.popup__footer-phone:hover,
.popup__footer-phone:focus {
    color: #999;
}

.popup__footer-bottom {
    font-size: 13px;
    padding: 9.5px 32px;
    color: #999;
    background-color: #333;
}

.popup__phone {
    text-decoration: none;
}

.popup__close-btn {
    display: inline-block;
    vertical-align: middle;
    opacity: .4;
    border: none;
    background: none;
}

.popup__close-btn:hover {
    opacity: 1;
}

.confirm-popup {
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
}

.confirm-popup__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 32px 26px;
    text-align: center;
    background-color: #fff;
}

.confirm-popup__icon-block {
    margin-bottom: 12px;
    text-align: center;
}

.confirm-popup__title {
    font-size: 21px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    text-align: center;
}

.confirm-popup__subtitle {
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    margin: 6px 0 20px;
    padding: 0;
}

.confirm-block__btn {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 2px 0;
    color: #333;
}

.confirm-block__btn--close {
    border: 1px solid #d7d6d5;
    background-color: transparent;
}

.confirm-block__btn--close:hover,
.confirm-block__btn--close:focus {
    border-color: #adacab;
    background-color: transparent;
}

.loader {
    font-size: 15px;
    line-height: 21px;
    position: absolute;
    z-index: 99999;
    top: 50%;
    left: 50%;
    display: none;
    text-align: center;
    color: #444;
}

.spinner {
    line-height: 28px;
    position: relative;
    width: 144px;
    height: 144px;
    margin: 0 auto;
    margin-bottom: 18px;
    text-align: center;
}

.spinner__main {
    z-index: 9999;
    -webkit-animation-name: spinner;
    -moz-animation-name: spinner;
    -o-animation-name: spinner;
    animation-name: spinner;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.spinner__inner {
    left: 50%;
    overflow: hidden;
}

.spinner__inner:after {
    left: -50%;
    content: '';
    border: 2px solid #fc0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.info {
    font-size: 11px;
    font-weight: 700;
    font-style: normal;
    line-height: 17px;
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 1px 0 0 4px;
    padding: 0;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #7b7972;
}


/*END:base*/
/*# sourceMappingURL=sourcemaps/base.css.map */
