/*animations*/


/*spinner*/

@-moz-keyframes spinner {
    from {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spinner {
    from {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    from {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    from {
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*END:spinner*/


/*END:animations*/

.popup__close-btn {
    -webkit-transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    -o-transition: all .15s ease-in;
    transition: all .15s ease-in;
}

.popup-info-mobile__inner {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.primary-btn,
.popup__footer-submit-btn {
    font-size: 1.1rem;
    display: block;
    width: 100%;
    padding: 8px 17.1px;
    text-align: center;
}

@media screen and (max-width: 400px) {
    .primary-btn,
    .popup__footer-submit-btn {
        font-size: .9rem;
        line-height: inherit;
        padding: 10px 17.1px;
    }
}

.popup__dynamic-area {
    height: auto;
    margin-bottom: 100px;
}

@media screen and (max-width: 650px) {
    .popup__table {
        padding: 15px 16px;
    }
}

.popup-main__header-back {
    width: 10%;
}

.popup-main__header-back-btn {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    background: none;
}

.popup-main__header-titlewrap {
    width: 80%;
}

.popup-main__header-title {
    font-size: 17px;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 0;
}

.popup-main__header-info {
    width: 10%;
}

.popup-main__header-info-btn {
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    background: none;
}

.popup-info-mobile {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7) none repeat scroll 0 0;
}

.popup-info-mobile__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 272px;
    margin: 0 auto;
    padding: 22px 26px;
    text-align: center;
    background-color: #fff;
}

.popup-info-mobile__title {
    font-size: 18px;
    font-weight: normal;
    line-height: 23px;
    margin-bottom: 10px;
    color: #000;
}

.popup-info-mobile__description {
    font-size: 15px;
    line-height: 20px;
    display: block;
    margin: 0;
    text-align: center;
    color: #7f7f7f;
}

.popup-info-mobile__links-list {
    margin-bottom: 0;
    list-style: none;
}

.popup-info-mobile__links-list>li a {
    font-size: 17px;
    line-height: 45px;
    padding: 18px 0;
    text-decoration: none;
    color: #787878;
}

.popup-tickets__main {
    width: auto;
}

@media screen and (max-width: 650px) {
    .popup-tickets__title {
        font-size: 16px;
        line-height: 23px;
    }
}

@media screen and (max-width: 400px) {
    .popup-tickets__title {
        font-size: 14px;
    }
}

.popup-tickets__subtitle {
    margin-bottom: 15px;
}

.popup-tickets__price {
    width: auto;
    padding-left: 0;
}

.popup-tickets__offer {
    width: auto;
}

.popup-tickets__offer .jq-number__field {
    font-size: 15px;
    width: 31px;
    height: 27px;
}

.popup-tickets__offer .default-input-number {
    line-height: 27px;
}

.popup-tickets__offer .jq-number__spin {
    width: 34px;
    height: 27px;
}

@media screen and (max-width: 400px) {
    .popup-tickets__offer {
        padding-left: 20px;
    }
}

.popup__footer-btn {
    display: block;
}

.mobile-banner {
    position: relative;
    z-index: 1;
    min-height: 170px;
    padding: 15px 32px;
    color: #fff;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media screen and (max-width: 650px) {
    .mobile-banner {
        padding: 15px 16px;
    }
}

.mobile-banner:before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(0, rgba(0, 0, 0, .8)));
    background: -webkit-linear-gradient(top, transparent 0, rgba(0, 0, 0, .8));
    background: -moz-linear-gradient(top, transparent 0, rgba(0, 0, 0, .8));
    background: -o-linear-gradient(top, transparent 0, rgba(0, 0, 0, .8));
    background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .8));
}

.mobile-banner a {
    color: #fff;
}

.mobile-banner__age {
    margin-bottom: 5px;
}

.mobile-banner__age-text {
    font-size: 9px;
    line-height: 18px;
    display: inline-block;
    overflow: hidden;
    height: 17px;
    margin: 0 0 5px 5px;
    padding: 0 7px;
    color: #000;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    background: rgba(255, 255, 255, .6);
}

.mobile-banner__title {
    margin-bottom: 25px;
}

.mobile-banner__event {
    font-size: 13px;
    line-height: 16px;
    list-style: none;
    color: #fff;
}
/*# sourceMappingURL=sourcemaps/mobile-base.css.map */
