/*fonts*/

@font-face {
    font-family: 'Arial-MT';
    src: url('../fonts/Arial/Arial-MT/Arial-MT.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Arial/Arial-MT/Arial-MT.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Arial/Arial-MT/Arial-MT.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Arial/Arial-MT/Arial-MT.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/Arial/Arial-MT/Arial-MT.svg#svgFontName') format('svg');
    /* Legacy iOS */
}

/*END:fonts*/
